### --- PASTAS DE DEPENDÊNCIAS ---
/vendor
/node_modules

### --- AMBIENTE E SEGURANÇA ---
.env
.env.backup
.env.production
auth.json
*.key
Homestead.yaml
Homestead.json

### --- CACHE E LOGS ---
*.log
.phpunit.result.cache
.phpunit.cache
.phpactor.json
/storage/pail

### --- STORAGE E ASSETS ---
/public/storage
/public/hot
/public/build
/storage/*.key

### --- IDEs E SISTEMA ---
.vscode/
.idea/
.fleet/
.nova/
.zed/
.DS_Store
Thumbs.db
/.vagrant

### --- ESPECÍFICOS DE COMPILAÇÃO ---
npm-debug.log
yarn-error.log